CONFIG_EXPERIMENTAL=y
CONFIG_AEABI=y
CONFIG_OABI_COMPAT=n
CONFIG_SYSVIPC=y
CONFIG_POSIX_MQUEUE=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_DEVTMPFS=y
CONFIG_DEBUG_FS=y
CONFIG_ARCH_SUNXI=y
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE="/home/emilio/ramdisk/arm-probefs/probefs.cpio"
CONFIG_RD_LZO=y
CONFIG_INITRAMFS_COMPRESSION_LZO=y
CONFIG_EMBEDDED=y
CONFIG_JUMP_LABEL=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_EXTENDED=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_LL_INCLUDE="debug/sunxi.S"
CONFIG_EARLY_PRINTK=y
CONFIG_SERIAL_OF_PLATFORM=y
